
Proyecto_Lab_CG/.vs/Proyecto_Lab_CG/v16/.suo
Proyecto_Lab_CG/.vs/Proyecto_Lab_CG/v16/Browse.VC.db
Proyecto_Lab_CG/.vs/Proyecto_Lab_CG/v16/Browse.VC.db-shm
Proyecto_Lab_CG/.vs/Proyecto_Lab_CG/v16/Browse.VC.db-wal
Proyecto_Lab_CG/.vs/Proyecto_Lab_CG/v16/Browse.VC.opendb
Proyecto_Lab_CG/.vs/Proyecto_Lab_CG/v16/ipch/AutoPCH/56a12255d34f80de/MAIN_PROY_LAB.ipch
Proyecto_Lab_CG/.vs/Proyecto_Lab_CG/v16/ipch/AutoPCH/badc07d4dab944e9/MAIN_PRAC_08.ipch
Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.exe.lastcodeanalysissucceeded
Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.pdb
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/CodeAnalysisResultManifest.txt
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/main_prac_08.nativecodeanalysis.sarif
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/main_prac_08.nativecodeanalysis.xml
*.idb
Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.exe
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/glad.obj
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/main_prac_08.obj
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/main_proy_lab.obj
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/NativeCodeAnalysis.read.1.tlog
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.exe.recipe
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.ilk
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.log
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.tlog/CL.command.1.tlog
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.tlog/CL.read.1.tlog
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.tlog/CL.write.1.tlog
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.tlog/link.read.1.tlog
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.tlog/link.command.1.tlog
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.tlog/link.write.1.tlog
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/Proyecto_Lab_CG.tlog/Proyecto_Lab_CG.lastbuildstate
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/vc.nativecodeanalysis.all.xml
Proyecto_Lab_CG/Proyecto_Lab_CG/Debug/vc142.pdb
Proyecto_Lab_CG/Proyecto_Lab_CG/Proyecto_Lab_CG.vcxproj.user
Proyecto_Lab_CG/Proyecto_Lab_CG/x64/Debug/Proyecto_Lab_CG.Build.CppClean.log
Proyecto_Lab_CG/Proyecto_Lab_CG/x64/Debug/Proyecto_Lab_CG.log
Proyecto_Lab_CG/Proyecto_Lab_CG/x64/Debug/Proyecto_Lab_CG.tlog/CL.command.1.tlog
Proyecto_Lab_CG/Proyecto_Lab_CG/x64/Debug/Proyecto_Lab_CG.tlog/Proyecto_Lab_CG.lastbuildstate
Proyecto_Lab_CG/Proyecto_Lab_CG/x64/Debug/Proyecto_Lab_CG.tlog/unsuccessfulbuild
Proyecto_Lab_CG/Proyecto_Lab_CG/x64/Debug/Proyecto_Lab_CG.vcxproj.FileListAbsolute.txt
Proyecto_Lab_CG/Proyecto_Lab_CG/x64/Debug/vc142.pdb
~WRL3824.tmp
Proyecto_Lab_CG/.vs/Proyecto_Lab_CG/v16/ipch/AutoPCH/34445d0f05eaecec/MAIN_PROY_LAB.ipch
Proyecto_Lab_CG/.vs/Proyecto_Lab_CG/v16/ipch/AutoPCH/bef47d1e7cc199be/MAIN_PROY_LAB.ipch
Proyecto_Lab_CG/.vs/Proyecto_Lab_CG/v16/ipch/AutoPCH/e221aee6eaad32aa/MAIN_PROY_LAB.ipch
